[build]
builder = "nixpacks"

[deploy]
startCommand = "npm run db:deploy && npm start"
healthcheckPath = "/health"
healthcheckTimeout = 100
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 3
